.card{
    margin: 1.25em 1.5em;
    padding: 1em;
    background-color: var(--cor-fundo-secundario);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5em;
    line-height: normal;
}

.card__descricao__item__titulo{
    color: var(--cor-titulo-secundario);
    font-weight: 700;
}

.card__descricao__item__titulo--livro{
    color: var(--cor-titulo-terciario);
    font-size: 18px;
    font-weight: 700;
    margin: 0.625em 0;
}

.card__descricao__item__texto{
    color: var(--cor-texto);
    font-size: 14px;
}

.card__botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__botao__lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__botao__lista__item{
    padding: 0.5em;
}

.card__botao__ancora{
    color: var(--cor-fundo-secundario);
    font-weight: 700;
    background-color: var(--cor-titulo-secundario);
    text-decoration: none;
    width: 10em;
    text-align: center;
    padding: 1em 0;

}