.contato{
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-titulo-terciario);
    padding: 1.5em;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato__texto{
    margin: 0.75em 0 1.5em 0;
    font-weight: 300;
}

.contato__email{
    padding: 1em;
    color: var(--cor-titulo-terciario);
    width: 90%;
    border-radius: 1.5em;
    border: 1px solid var(--cor-titulo-terciario);
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding-left: 2em;
    color: var(--cor-titulo-terciario);
    background: url("../img/Email.svg") no-repeat;
}

@media screen and (min-width: 1024px) {
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__descricao{
        width: 30%;
        margin-right: 1em;    
    }
    .contato__titulo{
        font-size: 24px;
    }
    .contato__email{
        width: 30%;    
    }

}

@media screen and (min-width: 1728px) {
    .contato{
        padding: 3em 10vw;
    }
}