.cabecalho{
    background-color: var(--cor-fundo-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer{
    background-image: url("../img/Menu Aberto.svg");
} 

.container__botao:checked~.container__rotulo{
    background: var(--cor-menu-link-gradiente);
} 

.container__imagem {
    padding: 1em;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-fundo-secundario);
}

.lista-menu__titulo{
    color: var(--cor-titulo-secundario);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--cor-menu-link-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.cabecalho__opcao, .container__texto, .container__titulo, .container__botao{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito{
        display: inline-block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .cabecalho__opcao{
        display: flex;
    }
    .cabecalho__opcao__item{
        color: var(--cor-titulo-quartenario);
        text-transform: uppercase;
        padding: 2em 1em;
    }
    .cabecalho__opcao__item__link{
        text-decoration: none;
        color: var(--cor-titulo-quartenario);
    }
    .container__imagem--favorito{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .container__botao:checked~.lista-menu{
        display: none;
    }
    .cabecalho__opcao__botao:checked~.lista-menu{
        display: block;
    }
    .cabecalho__opcao__botao:checked~.cabecalho__opcao__rotulo>.cabecalho__opcao__item{
        background: var(--cor-menu-link-gradiente);
        color: var(--cor-fundo-secundario);
    } 
    .lista-menu{
        width: auto;
    }
    .lista-menu__item:hover{
        background: var(--cor-menu-link-gradiente);
    }
    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color: var(--cor-fundo-secundario);
        text-decoration: none;
    }
    .cabecalho__opcao__botao{
        display: none;
    }
}


@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-titulo-quartenario);
    }
    .cabecalho{
        padding: 0 2em;
    }
    .cabecalho__opcao{
        margin-right: auto;
        margin-left: 2em;
    }
    .container__texto{
        display: block;
    }
}