@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("card.css");
@import url("topico.css");

:root{
    --cor-fundo-principal: #EBECEE;
    --cor-fundo-secundario: white;
    --cor-titulo-secundario: #eb9b00;
    --cor-titulo-terciario: #002F52;
    --cor-texto: rgba(0, 0, 0, 0.85);
    --cor-menu-link-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-banner-gradiente: linear-gradient(160deg, #002F52 0%, #326589 100%);
    --fonte-principal: "Poppins";
    --cor-fonte-principal: white;
}

body{
    background-color: var(--cor-fundo-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}